.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
  overflow-x: hidden;
}

.zmiti-form-main-ui {
  overflow: hidden;
  position: absolute !important;
  width: 750px !important;
  left: 50% !important;
  margin-left: -375px;
  z-index: 210;
}

.zmiti-form-main-ui canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.zmiti-form-main-ui.main-enter-active, .zmiti-form-main-ui.main-leave-active {
  -webkit-transition: 1s;
  transition: 1s;
}

.zmiti-form-main-ui.main-enter, .zmiti-form-main-ui.main-leave-to {
  opacity: 0;
}

.zmiti-form-main-ui.show {
  opacity: 1;
  z-index: 202;
}

.zmiti-form-main-ui .zmiti-mask {
  background: rgba(0, 0, 0, 0.5);
  z-index: 400;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
}

.zmiti-form-main-ui .zmiti-moon1 {
  position: absolute;
  width: 150px;
  top: -40px;
  left: 30px;
}

.zmiti-form-main-ui .zmiti-plane {
  position: absolute;
  width: 250px;
  right: -50px;
  top: -50px;
}

.zmiti-form-main-ui .zmiti-subtitle {
  width: 550px;
  margin: 0 auto 0;
}

.zmiti-form-main-ui .zmiti-car {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50px;
}

.zmiti-form-main-ui .zmiti-car img {
  width: 200px;
}

.zmiti-form-main-ui .zmiti-car .zmiti-car-tips {
  padding: 0 30px;
  color: #fde966;
  height: 60px;
  line-height: 60px;
  border: 1px solid #50fefb;
  position: absolute;
  width: 300px;
  top: -70%;
  left: 45%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  background: #50fefb;
  background: #19365d;
  border-radius: 10px;
}

.zmiti-form-main-ui .zmiti-car .zmiti-car-tips > div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  overflow: hidden;
}

.zmiti-form-main-ui .zmiti-car .zmiti-car-tips ul {
  -webkit-animation: move 8s infinite;
  animation: move 8s infinite;
}

@-webkit-keyframes move {
  25% {
    -webkit-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -120px, 0);
    transform: translate3d(0, -120px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -180px, 0);
    transform: translate3d(0, -180px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -240px, 0);
    transform: translate3d(0, -240px, 0);
  }
}

.zmiti-form-main-ui .zmiti-car .zmiti-car-tips:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-shadow: 0 0 20px rgba(80, 254, 251, 0.2) inset, 0 0 20px rgba(80, 254, 251, 0.2);
}

.zmiti-form-main-ui .zmiti-car .zmiti-car-tips:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  border: 1px solid #50fefb;
  border-left: none;
  border-top: none;
  margin-left: -15px;
  background: #50fefb;
  background: #19365d;
  bottom: -16px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.zmiti-form-main-ui .zmiti-name-C {
  width: 750px;
  position: relative;
  margin-top: 40px;
}

.zmiti-form-main-ui .zmiti-name-C .zmiti-add,
.zmiti-form-main-ui .zmiti-name-C .zmiti-reduce {
  position: absolute;
  right: 5px;
  width: 50px;
  top: 15px;
}

.zmiti-form-main-ui .zmiti-name-C > .zmiti-name-input {
  width: 620px;
  height: 80px;
  margin: 0 auto;
  border: 1px solid #fdeb59;
  text-align: center;
  overflow: hidden;
}

.zmiti-form-main-ui .zmiti-name-C > .zmiti-name-input span {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid #fdeb59;
}

.zmiti-form-main-ui .zmiti-name-C > .zmiti-name-input span:nth-of-type(1) {
  left: 63px;
  top: 0;
  border-right: none;
  border-bottom: none;
}

.zmiti-form-main-ui .zmiti-name-C > .zmiti-name-input span:nth-of-type(2) {
  left: 664px;
  top: 0;
  border-left: none;
  border-bottom: none;
}

.zmiti-form-main-ui .zmiti-name-C > .zmiti-name-input span:nth-of-type(3) {
  left: 63px;
  top: 60px;
  border-top: none;
  border-right: none;
}

.zmiti-form-main-ui .zmiti-name-C > .zmiti-name-input span:nth-of-type(4) {
  left: 664px;
  top: 60px;
  border-left: none;
  border-top: none;
}

.zmiti-form-main-ui .zmiti-name-C > .zmiti-name-input input {
  width: 90%;
  height: 100%;
  font-size: 30px;
  outline: none;
  background: transparent;
  border: none;
  color: #fdeb59;
  padding: 0;
  margin: 0;
}

.zmiti-form-main-ui .zmiti-tips {
  width: 640px;
  margin: 20px auto 0;
  color: #50fefb;
  position: relative;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
}

.zmiti-form-main-ui .zmiti-tips img {
  width: 40px;
  margin-left: 10px;
}

.zmiti-form-main-ui .zmiti-tips > div:nth-of-type(2) {
  text-indent: -2em;
  width: 200px;
}

.zmiti-form-main-ui .zmiti-tips span {
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 10px;
}

.zmiti-form-main-ui .zmiti-tips span.rotate {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.zmiti-form-main-ui .zmiti-tips span:before, .zmiti-form-main-ui .zmiti-tips span:after {
  content: '';
  width: 20px;
  height: 20px;
  left: 3px;
  top: 0;
  border: 2px solid #42fffb;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  border-left: none;
  border-top: none;
}

.zmiti-form-main-ui .zmiti-tips span:after {
  margin-top: -10px;
}

.zmiti-form-main-ui .zmiti-mean-input {
  width: 640px;
  margin: 30px auto 0;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.zmiti-form-main-ui .zmiti-mean-input.hide {
  height: 0;
}

.zmiti-form-main-ui .zmiti-mean-input textarea {
  width: 99%;
  font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", arial, sans-serif;
  height: 200px;
  background: transparent;
  border: none;
  outline: none;
  border: 1px solid #fffb88;
  color: #fffb88;
  font-size: 30px;
  padding: 20px;
  box-sizing: border-box;
}

.zmiti-form-main-ui .zmiti-form-main {
  position: absolute;
  height: 660px;
  top: 100px;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 50px;
}

.zmiti-form-main-ui .zmiti-username,
.zmiti-form-main-ui .zmiti-mobile {
  width: 640px;
  color: #50fefb;
  margin: 30px auto 0;
  border-bottom: 1px solid #286e89;
}

.zmiti-form-main-ui .zmiti-username input,
.zmiti-form-main-ui .zmiti-mobile input {
  background: transparent;
  height: 50px;
  width: 500px;
  border: none;
  outline: none;
  color: #50fefb;
  font-size: 30px;
}

.zmiti-form-main-ui .zmiti-submit-C {
  position: absolute;
  bottom: 0;
}

.zmiti-form-main-ui .zmiti-submit-C .zmiti-submit-btn {
  width: 450px;
  position: absolute;
  z-index: 10;
  bottom: 40px;
  left: 150px;
}
