@charset "UTF-8";
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem; }
  .zmiti-play.rotate {
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite; }

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.zmiti-main-main-ui {
  overflow: hidden; }
  .zmiti-main-main-ui > canvas {
    position: absolute;
    left: 0;
    top: 0; }
  .zmiti-main-main-ui .myCanavs {
    bottom: 0;
    top: auto;
    z-index: 100; }
  .zmiti-main-main-ui .canvas1 {
    box-sizing: border-box; }
  .zmiti-main-main-ui .zmiti-operator {
    position: absolute;
    z-index: 102;
    width: 100%;
    height: 26vh;
    bottom: 0;
    left: 0;
    text-align: center; }
    .zmiti-main-main-ui .zmiti-operator .zmiti-myheadimg {
      background: #ff3f37;
      color: #Fff;
      display: inline-block;
      text-align: center;
      padding: 0 30px;
      height: 70px;
      line-height: 70px;
      margin: 30px auto 0;
      border-radius: 30px; }
    .zmiti-main-main-ui .zmiti-operator .zmiti-preview {
      text-align: center;
      color: #fff;
      height: 80px;
      line-height: 80px; }
    .zmiti-main-main-ui .zmiti-operator .zmiti-pv {
      text-align: center;
      color: #fff;
      font-family: Georgia;
      font-size: 34px; }
  .zmiti-main-main-ui .zmiti-createimg {
    position: absolute;
    z-index: 11;
    top: 2vh;
    width: 750px;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transform-origin: 50% 20%;
    transform-origin: 50% 20%; }
    .zmiti-main-main-ui .zmiti-createimg.zmiti-scale-enter-active, .zmiti-main-main-ui .zmiti-createimg.zmiti-scale-leave-active {
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    .zmiti-main-main-ui .zmiti-createimg.zmiti-scale-enter, .zmiti-main-main-ui .zmiti-createimg.zmiti-scale-leave-to {
      -webkit-transform: scale(1);
      transform: scale(1); }
    .zmiti-main-main-ui .zmiti-createimg:after {
      content: '长按保存图片';
      position: absolute;
      color: #fff;
      font-size: .36rem;
      bottom: 0rem;
      width: .4rem;
      left: 100%; }
  .zmiti-main-main-ui .zmiti-btns {
    position: absolute;
    width: 80%;
    z-index: 11;
    left: 10%;
    bottom: 6vh;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal;
    color: #fff; }
    .zmiti-main-main-ui .zmiti-btns.btn-enter-active, .zmiti-main-main-ui .zmiti-btns.btn-leave-active {
      -webkit-transition: 1s 0.6s;
      transition: 1s 0.6s; }
    .zmiti-main-main-ui .zmiti-btns.btn-enter, .zmiti-main-main-ui .zmiti-btns.btn-leave-to {
      opacity: 0; }
    .zmiti-main-main-ui .zmiti-btns > div {
      width: 200px;
      height: 70px;
      line-height: 70px;
      text-align: center;
      background: #ff3f37;
      border-radius: 40px;
      margin: 0 30px; }
  .zmiti-main-main-ui .zmiti-main-info {
    opacity: 0;
    z-index: -1;
    color: #696b72; }
    .zmiti-main-main-ui .zmiti-main-info.show {
      opacity: 1;
      z-index: 99; }
    .zmiti-main-main-ui .zmiti-main-info > h1 {
      height: 38vh; }
    .zmiti-main-main-ui .zmiti-main-info > section {
      height: 62vh;
      width: 750px;
      box-sizing: border-box; }
    .zmiti-main-main-ui .zmiti-main-info .zmiti-code {
      font-family: Georgia;
      font-size: 34px;
      text-align: center;
      height: 80px;
      width: 650px;
      margin: 0 auto;
      border-bottom: 1px solid rgba(105, 107, 114, 0.4); }
    .zmiti-main-main-ui .zmiti-main-info .zmiti-head {
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: horizontal;
      width: 650px;
      margin: 40px auto; }
      .zmiti-main-main-ui .zmiti-main-info .zmiti-head > div:nth-of-type(1) {
        width: 100px; }
      .zmiti-main-main-ui .zmiti-main-info .zmiti-head > div:nth-of-type(2) {
        margin-left: 30px;
        -webkit-box-flex: 1; }
    .zmiti-main-main-ui .zmiti-main-info .zmiti-qrcode {
      margin: 0 auto 30px;
      width: 200px; }
    .zmiti-main-main-ui .zmiti-main-info .zmiti-text {
      font-size: 24px;
      color: #fff;
      text-align: center;
      line-height: 50px; }
    .zmiti-main-main-ui .zmiti-main-info .zmiti-logo {
      position: absolute;
      width: 70px;
      left: 60px;
      bottom: 60px; }

@-webkit-keyframes ar {
  from {
    margin-top: -5px; }
  to {
    margin-top: 5px; } }

/*# sourceMappingURL=index.css.map */
