.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zmiti-main-ui {
  z-index: -1;
  opacity: 0;
}

.zmiti-main-ui .zmiti-model-list {
  overflow: hidden;
}

.zmiti-main-ui .zmiti-model-list ul {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  -webkit-box-align: start;
}

.zmiti-main-ui .zmiti-model-list ul li {
  margin: 20px 16px;
}

.zmiti-main-ui .zmiti-model-list ul li > div {
  width: 330px;
  margin: 0 auto 30px;
  position: relative;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.zmiti-main-ui .zmiti-model-list ul li > div.active {
  border: 2px solid #0372c3;
}

.zmiti-main-ui .zmiti-model-list ul li > div.active:after {
  content: '';
  width: 0;
  height: 0;
  border: 40px solid #0372c3;
  border-left: 40px solid transparent;
  border-top: 40px solid transparent;
  position: absolute;
  right: -1px;
  z-index: 9;
  bottom: 0;
}

.zmiti-main-ui .zmiti-model-list ul li > div .zmiti-checked {
  position: absolute;
  left: 50%;
  margin-left: -75px;
  bottom: -18px;
  width: 150px;
  z-index: 10;
}

.zmiti-main-ui .zmiti-model-list ul li > div .zmiti-active {
  position: absolute;
  z-index: 10;
  width: 30px;
  bottom: -6px;
  left: 50%;
  margin-left: -15px;
}

.zmiti-main-ui.show {
  z-index: 100;
  opacity: 1;
}

.zmiti-main-ui .zmiti-done {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 400px;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  z-index: 102;
}

.zmiti-main-ui .zmiti-done .zmiti-info {
  position: absolute;
  width: 60px;
  top: -50px;
  left: 50%;
  margin-left: -30px;
  -webkit-animation: info 1.4s infinite;
  animation: info 1.4s infinite;
}

.zmiti-main-ui .zmiti-model-list-mask {
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.zmiti-main-ui .zmiti-model-list-mask .zmiti-photo-C {
  position: absolute;
  left: 0;
  height: 300px;
  width: 750px;
  bottom: 7vh;
}

.zmiti-main-ui .zmiti-model-list-mask .zmiti-photo-C .zmiti-goto-photo {
  width: 50%;
  margin: 50px auto;
  position: relative;
}

.zmiti-main-ui .zmiti-model-list-mask .zmiti-photo-C .zmiti-goto-photo span {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  top: 0;
  color: #fff;
  line-height: 110px;
  text-align: center;
}

.zmiti-main-ui .zmiti-model-list-mask .zmiti-photo-C .zmiti-model-close {
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin: 20px auto;
  position: relative;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.zmiti-main-ui .zmiti-model-list-mask .zmiti-photo-C .zmiti-model-close:before, .zmiti-main-ui .zmiti-model-list-mask .zmiti-photo-C .zmiti-model-close:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 60%;
  background: #fff;
  left: 50%;
  margin-left: -2px;
  border-radius: 1px;
  top: 20%;
}

.zmiti-main-ui .zmiti-model-list-mask .zmiti-photo-C .zmiti-model-close:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.zmiti-main-ui .zmiti-model-list-mask ul {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100vh;
  margin-top: -12vh;
  position: relative;
}

.zmiti-main-ui .zmiti-model-list-mask ul li {
  height: 100vh;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  padding-top: 50px;
}

.zmiti-main-ui .zmiti-model-list-mask ul li img {
  display: block;
}

.zmiti-main-ui .zmiti-progress {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  z-index: 10000;
}

.zmiti-main-ui .zmiti-progress span {
  position: absolute;
  -webkit-transform-origin: left;
  transform-origin: left;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #fff;
}

@-webkit-keyframes info {
  from {
    -webkit-transform: translate3d(0, -30px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
