@import "../css/base.scss";

$baseColor: #fcffb4;
$viewW: 750px;
$bgColor: #4081dd;

.zmiti-index-main-ui {
    overflow: hidden;
    width: $viewW !important;
    left: 50% !important;
    margin-left: -$viewW / 2;
 
    opacity: 0;
    z-index: -1;
    @include displayBox(horizontal);
    &.show {
        opacity: 1;
        z-index: 200;
    }

    .zmiti-index-flag{
        @include pos(a);
    }

     .zmiti-index-text {
         @include pos(a);
         right: 20px;
         top: 30px;
         width: 100px;
     }
     .zmiti-index-title{
         @include pos(r);
         z-index: 100;
         width: 90%;
         top: -20px;
     }

     .zmiti-index-entry {
        @include pos(a);
        z-index: 1100;
        bottom: 18vh;
        left: 50%;
        width: 400px;
        @include animation(shake 1s infinite alternate);
        @include transform(translate3d(-50%,0,0));

     }
     .zmiti-index-logo{
         @include pos(a);
         color:#fff;

         width: 300px;
         left: 50%;
         margin-left: -150px;
         bottom: 1vh;
         text-align: center;
         font-size:24px;
         span{
             line-height: 50px;
             display: block;
         }
         img{
             
             display: block;
             width: 100px;
             margin: 0 auto;
         }
     }

    .zmiti-submit-bg{
        @include  pos(a);
        z-index: 100;
        width: 500px;
        left: 50%;
        top:80%;

        span{
            @include pos(a);
            width: 100%;
            height: 100px;
            left: 0;
            top: 0;
            color:#fff;
            line-height: 100px;
            text-align: center;
        }
    }

   

    @-webkit-keyframes shake{
        to{
            @include transform(translate3d(-50%,-10px,0) scale(.99));
        }
    }
 
}


