.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zmiti-index-main-ui {
  overflow: hidden;
  width: 750px !important;
  left: 50% !important;
  margin-left: -375px;
  opacity: 0;
  z-index: -1;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
}

.zmiti-index-main-ui.show {
  opacity: 1;
  z-index: 200;
}

.zmiti-index-main-ui .zmiti-index-flag {
  position: absolute;
}

.zmiti-index-main-ui .zmiti-index-text {
  position: absolute;
  right: 20px;
  top: 30px;
  width: 100px;
}

.zmiti-index-main-ui .zmiti-index-title {
  position: relative;
  z-index: 100;
  width: 90%;
  top: -20px;
}

.zmiti-index-main-ui .zmiti-index-entry {
  position: absolute;
  z-index: 1100;
  bottom: 10vh;
  left: 50%;
  width: 400px;
  -webkit-animation: shake 1s infinite alternate;
  animation: shake 1s infinite alternate;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

.zmiti-index-main-ui .zmiti-submit-bg {
  position: absolute;
  z-index: 100;
  width: 500px;
  left: 50%;
  top: 80%;
}

.zmiti-index-main-ui .zmiti-submit-bg span {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  top: 0;
  color: #fff;
  line-height: 100px;
  text-align: center;
}

@-webkit-keyframes shake {
  to {
    -webkit-transform: translate3d(-50%, -20px, 0) scale(0.97);
    transform: translate3d(-50%, -20px, 0) scale(0.97);
  }
}
